@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #373943;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0 0 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.gui {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gui .debug-info {
  color: white;
  font-size: 12px;
  font-family: Consolas, monospace;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  width: 30%;
  display: flex;
  flex-flow: column;
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 5px;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.gui .debug-info.error {
  border-color: #ea1547;
}
.gui .stats {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  display: flex;
  flex-flow: row;
  gap: 10px;
}
.gui .stats .stat {
  position: relative !important;
}
.gui .pointer {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gui .pointer img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width: 25px;
  height: 25px;
  mix-blend-mode: difference;
}
.gui .progress-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: stretch;
  background-color: #242a2f;
  color: white;
  width: 420px;
  height: 330px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.gui .progress-box.close {
  animation: fadeout 0.2s ease-in-out forwards;
}
.gui .progress-box .image {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 128px;
  height: 128px;
}
.gui .progress-box .title {
  margin: 0 0 0 10px;
  font-size: 20px;
  font-family: "Poppins", "Raleway", sans-serif;
  font-weight: 600;
}
.gui .progress-box .bar-outer {
  margin: 7% 0;
  width: 75%;
  background-color: #3a3c3e;
  height: 4px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.gui .progress-box .bar-outer .bar-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #45c665;
  transition: width ease-in-out 0.15s;
  max-width: 100%;
}
.gui .progress-box .status {
  font-size: 12px;
}

.menu-box {
  display: flex;
  flex-flow: column;
  background-color: #242a2f;
  color: white;
  width: 420px;
  height: 330px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
}
.menu-box.close {
  animation: fadeout 0.2s ease-in-out forwards;
}
.menu-box .title-bar {
  display: flex;
  flex-flow: row;
  padding: 4px 10px;
  align-items: center;
}
.menu-box .title-bar .image {
  height: 48px;
}
.menu-box .title-bar .title {
  margin: 0 0 0 10px;
  font-size: 15px;
  font-family: "Poppins", "Raleway", sans-serif;
  font-weight: 600;
}
.menu-box .title-bar .customizer {
  font-size: 11px;
  padding: 4px 8px;
  color: white;
  background-color: rgba(69, 198, 101, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  user-select: none;
}
.menu-box .button-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px;
}
.menu-box .button-bar .button {
  font-weight: 600;
  font-size: 11px;
  padding: 4px 8px;
  color: white;
  background-color: rgba(69, 198, 101, 0.5);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
  user-select: none;
}
.menu-box .button-bar .button:hover {
  background-color: rgba(69, 198, 101, 0.7);
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}
.menu-box .button-bar .button:active {
  transform: scale(0.95);
}
.menu-box .options {
  display: flex;
  flex-flow: column;
  padding: 10px;
  gap: 15px;
}
.menu-box .options .option {
  display: flex;
  flex-flow: column;
}
.menu-box .options .option .title-bar .title {
  font-size: 14px;
  font-weight: 600;
  color: white;
}
.menu-box .options .option .title-bar .value {
  font-size: 11px;
  padding: 4px 8px;
  color: white;
  background-color: rgba(69, 198, 101, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  user-select: none;
}
.menu-box .slider-holder {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.menu-box .slider-holder .min, .menu-box .slider-holder .max {
  color: #d0d0d0;
  font-size: 11px;
  user-select: none;
}
.menu-box .slider-holder .slider-wrapper {
  position: relative;
  height: 16px;
  width: 100%;
}
.menu-box .slider-holder .slider-wrapper .slider-line {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgba(51, 165, 79, 0.7);
  border-radius: 2px;
}
.menu-box .slider-holder .slider-wrapper .slider-handle {
  position: absolute;
  aspect-ratio: 1;
  height: 16px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #45c665;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.menu-box .slider-holder .slider-wrapper .slider-handle:focus {
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  background-color: white;
  transform: scale(0.9);
  cursor: grabbing;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
